<template>
    <div class="main-nav">
        <div>
            <ul>
                <li>
                    <router-link to="/" :exact="true">
                        <span class="glyphicon glyphicon-home"></span> Home
                    </router-link>
                </li>
                <li>
                    <router-link to="/counter">
                        <span class="glyphicon glyphicon-education"></span> Counter
                    </router-link>
                </li>
                <li>
                    <router-link to="/fetchdata">
                        <span class="glyphicon glyphicon-th-list"></span> Fetch data
                    </router-link>
                </li>
                <li>
                    <router-link to="/cards">
                        <span class="glyphicon glyphicon-th-list"></span> Cards
                    </router-link>
                </li>
                <li>
                    <router-link to="/boosters">
                        <span class="glyphicon glyphicon-th-list"></span> Boosters
                    </router-link>
                </li>
                <li>
                    <router-link to="/sealed-new">
                        <span class="glyphicon glyphicon-th-list"></span> Sealed
                    </router-link>
                </li>
            </ul>
        </div>
    </div>
</template>

<style src="./navmenu.css" />