<template>
    <div>
        <h1>Sealed</h1>
        
        <div>
            <label>Number of Boosters</label>
            <select v-model='numboosters'>
                <option>{{ numboosters }}</option>
            </select>
        </div>
        <div v-for="n in numboosters":key="n" class="row">
            <boosterselectioncomponent v-bind:boosternum="n" ></boosterselectioncomponent>

        </div>

        <button @click="newSealed">New Sealed Deck</button>
    </div>
</template>

<script src="./sealed-new.ts"></script>