<template>
    <div>
        <h1>Booster</h1>
        <div v-for="(value, key) in booster">
            <div v-if="key === 'cards'">
                <div v-for="card in value">
                    {{ card.name }}
                </div>
            </div>
        </div>
        <select v-model="selected">
            <option v-for='set in sets' v-bind:value='set.name' v-bind:key='set.id'>
            {{ set.name }}
            </option>
        </select>
        <button @click="newBooster">New Booster</button>
    </div>
</template>

<script src="./boosters.ts"></script>
